<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.dao.ManMapper">

    <!--/**-->
    <!--* 检查用户名是否存在-->
    <!--* @param username-->
    <!--* @return-->
    <!--*/-->
    <!--int checkUsername(String username);-->
    <select id="checkUsername" resultType="Integer">
        select count(1) from miao_man where logname=#{logname}
    </select>


    <select id="findAll" resultType="Integer">
        select count(*) from miao_man
    </select>
    <!--/**-->
    <!--* 注册信息-->
    <!--* @param man-->
    <!--* @return-->
    <!--*/-->
    <!--int insertMan(Man man);-->

    <insert id="insertMan" parameterType="Man">
        insert into miao_man (logname,password,mail,buildtime)
    values (#{logname},#{password},#{mail},now())
    </insert>


    <!--/**-->
    <!--* 修改密码-->
    <!--* @return-->
    <!--*/-->
    <!--Integer updatePassword();-->
 <update id="updatePassword" parameterType="Man">
     update miao_man set password=#{password} where mail=#{mail}
 </update>



    <!--/**-->
    <!--* 添加个人信息-->
    <!--* @param map-->
    <!--* @return-->
    <!--*/-->
    <!--Integer addManInfo(Map map);-->
<update id="updateManInfo" parameterType="Man">
    update miao_man set
    name=#{name},sex=#{sex},borntime=#{borntime},phone=#{phone},address=#{address}
    where id=#{id}
</update>
</mapper>
