<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cat.dao.NoteMapper">
	<resultMap type="Note" id="noteResultMap">
		<id column="id" property="id"/>
		<result column="man" property="man"/>
		<result column="time" property="time"/>
		<result column="title" property="title"/>
		<result column="introduct" property="introduct"/>
		<result column="content" property="content"/>
	</resultMap>
	
	<sql id="column">
		id,man,time,title,introduct,content
	</sql>
	 <!--/**-->
    <!--* 领养信息-->
    <!--* @param note-->
    <!--* @return-->
    <!--*/-->
    <!--int insertNote(Note note);-->

    <insert id="insertNote" parameterType="Note">
        insert into miao_note (<include refid="column"/>)
    values (#{id},#{man},now(),#{title},#{introduct},#{content})
    </insert>
    
    <!--/**-->
    <!--* 查询一个-->
    <!--* @param id-->
    <!--* @return-->
    <!--*/-->
    <!--Note findNote(String id);-->
    <select id="findNote" resultType="noteResultMap" parameterType="Integer">
        select <include refid="column"/> from miao_note where id=#{id}
    </select>
	
	<!--/**-->
    <!--* 查询全部-->
    <!--* @param id-->
    <!--* @return-->
    <!--*/-->
    <!--List<Note> findAll();-->
    <select id="findAll" resultType="noteResultMap">
        select <include refid="column"/> from miao_note
    </select>

    <!--/**-->
    <!--* 更改信息-->
    <!--* @param note-->
    <!--* @return-->
    <!--*/-->
    <!--int updateNote(Note note);-->
	<update id="updateNote" parameterType="Note">
	    update miao_note set
	    id=#{id},man=#{man},time=now(),title=#{title},introduct=#{introduct},content=#{content}
	    where id=#{id}
	</update>
</mapper>
